<h1 class="text-center">楽曲詳細</h1>
<section class="card border-dark mt-5">
  <div class="card-header">
    <h4><%= @art.title %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(h @art.content) %></p>
  </div>
</section>